:root{
	--blueDarkColor: #10263B;
	--blueLightColor: #F7F6E5;
	--blueColor2: #3A568D;
	--blueColor3: #C0CDDB;
	--blueColor4: #668EBB;
}


header {
	background-image: linear-gradient(
				var(--blueColor2),
				var(--blueColor3),
				var(--blueColor2),
				var(--blueColor3),
				var(--blueColor4));
	height: 100px;
}

body {
	background-color: var(--blueColor2);
	color: var(--blueLightColor);
}
/* Menu Stylings */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.menuAnchor {
	display: block;
	width: 200px;
	color: black;
	margin-right:10px;
	font-size:1.5em;
	text-decoration: none; /*removes the underlines from each <a> */
}

.menuListItem {
	display: inline;
	float: left;
	border-style: solid;
}
/*End of menu styling*/

h1 {
	color: black;
}

img {
	border-style: solid;
	border-width: 5px;
}

#libaProfilePic {
	width: 250px;
	height: auto;
}

#insideofdesktop {
	width:300px;
	height: auto;
}





#alertButton {
	background-color:pink;
}

.button1 { 
  color: black;
  border: 2px solid #4CAF50; /* black  */
}

.imageRight {
	float: right;
}
